[package]
name = "cosmic-settings-daemon"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-or-later"

[dependencies]
anyhow = "1.0.79"
clap = "4.2.7"
dirs = "5.0.1"
notify = "6.1.1"
tokio = { version = "1.19.2", features = ["macros", "net", "rt"] }
udev = "0.8.0"
zbus = { version = "3.15.0", default-features = false, features = ["tokio"] }
tokio-stream = "0.1.14"
sunrise = "1.0.1"
geoclue2 = { git = "https://github.com/pop-os/dbus-settings-bindings" }
cosmic-theme = { git = "https://github.com/pop-os/libcosmic", features = ["gtk4-output"]}
cosmic-config = { git = "https://github.com/pop-os/libcosmic" }
chrono = "0.4.35"
libcosmic = { git = "https://github.com/pop-os/libcosmic" }

# For development and testing purposes
[patch.'https://github.com/pop-os/libcosmic']
libcosmic = { git = "https://github.com/pop-os/libcosmic//", branch = "theme-export-gtk" }
cosmic-config = { git = "https://github.com/pop-os/libcosmic//", branch = "theme-export-gtk" }
cosmic-theme = { git = "https://github.com/pop-os/libcosmic//", branch = "theme-export-gtk" }
# libcosmic = { path = "../libcosmic" }
# cosmic-config = { path = "../libcosmic/cosmic-config" }
# cosmic-theme = { path = "../libcosmic/cosmic-theme" }
