Source: cosmic-settings-daemon
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  cargo,
  libudev-dev,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-settings-daemon

Package: cosmic-settings-daemon
Architecture: amd64 arm64
Depends:
  acpid,
  ${misc:Depends},
  ${shlibs:Depends}
Recommends:
  geoclue-2.0
Description: Cosmic settings daemon
