Source: cosmic-settings-daemon
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  cargo,
  libudev-dev,
  libinput-dev,
  libssl-dev,
  libxkbcommon-dev,
  pulseaudio-utils,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-settings-daemon

Package: cosmic-settings-daemon
Architecture: amd64 arm64
Depends:
  acpid,
  adw-gtk3,
  qt5ct,
  qt6ct,
  pop-sound-theme,
  ${misc:Depends},
  ${shlibs:Depends}
Recommends:
  breeze-icon-theme,
  playerctl,
Description: Cosmic settings daemon
